.countdown-box {
  position: absolute;
  bottom: 60px;
  left: 0;
  font-family: futura;
  padding-left: 105px;
  animation-name: countdown-fade-in;
  animation-duration: 4s;
}

.waiting-for {
  /*color: #04245F;*/
  color: #3B4990;
  font-size: 1.6vw;
  margin-bottom: 2px;
  text-shadow: 1px 1px #888;
  margin-left: -5px;
}

.day-title {
  color: #fff;
  font-size: 11vw;
  margin-bottom: 10px;
  /*font-weight: bold;*/
  font-family: futura-condensedextraBold, futura;
  margin-left: -1vw;
  text-shadow: 1px 1px #232323;
  /*letter-spacing: -1vw;*/
}

.counter {
  display: flex;
  justify-content: space-between;
}
