.social-media-bar {
  position: absolute;
  bottom: 8%;
  left: 88%;
  height: 10vh;
  min-width: 20vw;
  white-space: nowrap;
  /*border: 2px solid black;*/
  transform: translate(-88%, -8%);
}

.social-media-bar > * {
  margin: 0 10px;
  animation-name: icons-fade-in;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}
