@import "./base/meyersReset.css";
@import "./base/keyframes.css";
/*@import "./base/mediaQueries.css";*/
@import "./components/NumberTimeUnit.css";
@import "./components/SocialMediaBar.css";
@import "./components/CountdownBox.css";
@import "./components/LogoAndTagline.css";

@media only screen and (max-width: 700px) {
    .countdown-box {
      width: 100vw;
      min-height: 20vh;
      bottom: 0;
      box-sizing: border-box;
      text-align: center;
      background: #343434;
      padding: 0;
      z-index: 1;
      /*border: 2px solid green;*/
    }
    .tee {
      display: none;
    }
    .social-media-bar {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -10%);
      /*border: 1px solid red;*/
      /*max-width: 100vw;*/
      height: 10vh;
    }
    .number-time-unit {
      margin: 0 2vw 0 2vw;
    }
    .waiting-for {
      color: #6677A7;
      font-size: 3.5vw;
      text-shadow: 1px 1px #000;
      margin-top: 10px;
    }
    .day-title {
      font-size: 26vw;
      /*border: 3px solid red;*/
      width: 100vw;
    }
    .counter {
      justify-content: center;
      margin-bottom: 10px;
    }
    .countdown-numbers {
      font-size: 8vw;
    }
    .time-unit {
      font-size: 2vw;
    }
    .logo-tagline {
      position: fixed;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -35%);
    }
    .logo {
      width: 60vw;
    }
    .tag-line {
      font-size: 2.7vw;
      text-shadow: 1px 1px #000;
      white-space: nowrap;
    }
    .span-color {
      color: #6677A7;
      text-shadow: 1px 1px #000;
    }
}


#container {
  display: flex;
  background: url(./../images/sky-bg.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.orange, .white, .pearl {
  width: 33.3vw;
  height: 100vh;
}

.orange {
  background: linear-gradient(to bottom, rgba(235,148,26,1) 0%, rgba(255,166,0,1) 31%, rgba(255,166,0,1) 100%);
  animation-name: from-top;
  animation-duration: 2s;
}

.white {
  animation-name: from-top-white;
  animation-duration: 2s;
  animation-delay: 1s;
/*   animation-timing-function: linear; */
  animation-fill-mode: forwards;
/*   animation-iteration-count: 1; */
}

.pearl {
  background: linear-gradient(to bottom, rgba(192,171,140,1) 0%, rgba(232,223,206,1) 62%, rgba(232,223,206,1) 100%);
  animation-name: from-bottom;
  animation-duration: 2s;
}

.tee {
  position: absolute;
  max-height: 100vh;
  top: 0;
  right: 0;
  opacity: .3;
  animation-name: tee-fade-in;
  animation-duration: 6s;
}
